services:
  db:
    image: pgvector/pgvector:pg15
    container_name: ticketbuddyApplicationDatabase
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: ticketBuddy_backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      BUS_DATA_PATH: /app/data/data.json
      PROVIDER_DOCS_PATH: /app/data/provider_docs
      CHROMA_PERSIST_DIR: /app/data/chroma_db
    volumes:
      - ./data:/app/data
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: ticketBuddy_frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8000/api
    depends_on:
      - backend
    restart: unless-stopped

  frontend-dev:
    build:
      context: ./frontend
      target: builder
    container_name: ticketBuddy_frontened_dev
    ports:
      - "3001:3000"
    environment:
      - VITE_API_URL=http://backend:8000/api
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    command: npm run dev
    depends_on:
      - backend
    restart: unless-stopped


volumes:
  postgres_data: